#firstNav {
    background: #1f1f21;
  }

  #firstNav a {
    color: white;
  }

  .canv{
    height: 200px;
    width: 500px;
  }
  .navbar-brand{
    font-size:23px ;
  }
  .fa.fa-search {
    font-size: 30px;
    margin-left: 5px;
    padding: 8px;
  }
  .nav-link{
    font-size:23px ;
  }
  #searchInput {
    width: 550px;
    border-radius: 20px;
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  #secondnav {
    background: linear-gradient(to right, #ECE9E6, #fffcdc);
  }