<nav class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation" id="navbar">
  <div class="container">

    <!-- <a class="navbar-brand font-weight-bold" href="#" routerLink="/">Online-Shopping</a> -->
    <body class="imgg"><img src="assets/images/img77.jpg" alt="product-img" /></body>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
      aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="main-navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/product">Product </a>
        </li>
       
        <li class="nav-item dropdown dropdown-slide">
          
          <a class="nav-link dropdown-toggle"  id="navbarDropdown5" role="button" data-delay="350"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu dropdown-primary force-scroll">
          <ul mdbDropdownMenu class="dropdown-menu">
            <ul *ngFor="let c of catlist">
                <li><a class="dropdown-item" href="#" routerLink="catwiseprod/{{c.cid}}">{{c.cName}}</a></li>
              </ul>
          </ul>
        </div>
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/cart">Cart</a>
        </li>
      
        <!-- Account -->
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link dropdown-toggle" id="navbarDropdown5" role="button" data-delay="350"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account.
          </a>
          <ul mdbDropdownMenu class="dropdown-menu">
            <li><a class="dropdown-item" href="#" routerLink="/profile-details">Profile</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/login">LogIn</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/signup" routerLinkActive="active">SignUp</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/forgetpassword">Forgot Password</a></li>
          </ul>
        </li>
      </ul>
      <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
      <div class="input-group rounded">
        <input #pName="ngModel" type="text" name="pName" placeholder="Search Products"class="form-control" ngModel>
        <span class="input-group-text border-0" id="search-addon">
          <button type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
        </span>
      </div>
      </form>
    </div>
  </div>
</nav>
