<div class="footer">
      <div class="container">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <body class="imgg"><img src="assets/images/img777.jpg" alt="product-img" /></body>
          </div>  
          <hr class="my-3">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-3 col-sm-12">
                      <div  class="display-8" >Get to Know Us</div>
                      About Us <br>
                      Careers<br>
                      Press Releases<br>
                      
                      Gift a Smile<br>
                  </div>
                  <div class="col-lg-4 col-md-3 col-sm-12">
                      <div  class="display-8" >Connect With Us</div>                     
                      Facebook <br>
                      Twitter <br>
                      Instagram <br>
                  </div>
                  <div class="col-lg-4 col-md-3 col-sm-12">
                      <div  class="display-8" >Team Members</div><br>
                     Ayush Baranwal <br>
                     Aman Deep Yadav <br>
                     Apoorva Nigam <br>
                     Akarsh Mishra <br>
                  </div>
              </div>
          </div>
          <hr class="my-3">
  
          <div style="text-align: right;">
              &#169; Copyright Text 
              <a target="_blank" href="www.futane.tk" class="link">webrash</a>
          </div>
          <div class="links">
              <div class="retailer">
                  <div  >
                      Sell product on Online-Shopping
                      <button class="button btn-outline-light btn" routerLink="/retailerlogin">Retailer Sign In</button>
                  </div>
              </div>
              <div class="admin">
                Are You Admin ?
                  <button class="button btn-outline-light btn" routerLink="/adminlogin">Admin Sign In</button>
              </div>
          </div>
      </div>
  </div>
  
  
  