<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form border p-5">
            <h4>Add Product details</h4>
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">


    <div class="form-group">

        
        <div class="form-group">
            <label for="cid">Category Id</label>
            <input #id="ngModel" type="number"  name="cid" class="form-control" ngModel>
        </div>
        <label for="pName">Product Name</label><br>
        <input #catname="ngModel" type="text" name="pName" class="form-control" ngModel>

        <div>
            <label for="price">Price</label><br>
            <input #catname="ngModel" type="number" name="price" class="form-control" ngModel>
        </div>
        <div>
            <label for="pDetail">Details</label><br>
            <input #catname="ngModel" type="text" name="pDetail" class="form-control" ngModel>
        </div>
        <div>
            <label for="pImage1">Image 1</label><br>
            <input #catname="ngModel" type="text" name="pImage1" class="form-control" ngModel>
        </div>
        <div>
            <label for="pImage2">Image 2</label><br>
            <input #catname="ngModel" type="text" name="pImage2" class="form-control" ngModel>
        </div>
        <div>
            <label for="pImage3">Image 3</label><br>
            <input #catname="ngModel" type="text" name="pImage3" class="form-control" ngModel>
        </div>
    </div>
    <div class="form-group">
        <label for="rid">Retailer Id</label>
        <input #id="ngModel" type="number" name="rid" class="form-control" ngModel>
    </div>
    <p>
        <button type="submit" routerlink="/retailerlist">Submit Now</button>
    </p>

</form>
</div>
</div>
</div>
</div>
