<ul *ngFor="let c of catlist">
  <div  style="background-image:url('assets/images/final1.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">{{c.cName}} </span>
            <h1 class="mt-2 mb-5"><span class="text-color">20% off </span>to everything</h1>
            <a href="#"routerLink="/catwiseprod/{{c.cid}}" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ul>

