<div padding:20>
<ul *ngFor="let c of catprodlist">
<div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
      <div class="product">
          <div class="product-wrap">
              <a href="#"routerLink="/productsingle/{{c.cid}}/{{c.pid}}"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/{{c.pImage1}}" alt="product-img" /></a>
          </div>
          <div class="product-hover-overlay">
              <a href="#"routerLink="/productsingle/{{c.cid}}/{{c.pid}}"> <fa-icon [icon]="faCartShopping"></fa-icon></a>
            </div>   
          <div class="product-info">
            <div class="row"><strong>{{c.pName}} </strong><h6 class="mb-4">Only<strong style="color:green"> ₹{{c.price}} </strong>upto 10% off </h6></div>
          </div>
      </div>
    </div>
 </ul>
</div>
